section#main.contact-form-section {
  flex: 1;
  height: 100%;
  background-color: hsla(var(--black), 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

form.contact-form {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: hsla(var(--white), 1);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 hsla(var(--black), 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group textarea {
  max-width: 500px;
}

.form-group__error {
  color: hsla(var(--red), 1);
  font-size: 0.9rem;
  margin-top: 0.15rem;
}
