.header {
  position: relative;
  background-color: hsla(var(--black), 1);
  color: hsla(var(--white), 1);
  box-shadow: 0 0 10px 0 hsla(var(--black), 0.5);
}



.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
  flex-direction: column;
}

@media (width > 768px) {
  .header__container {
    padding: 0 2rem;
    flex-direction: row;
  }
}

.skip-to-main {
  position: absolute;
  top: -100px;
  width: 100%;
  background-color: hsla(var(--red), 1);
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: hsla(var(--white), 1);
  padding: 0.5rem 0;
}

.skip-to-main:focus {
  top: 100%;
}
