header.header {
  position: relative;
  background-color: hsla(var(--black), 1);
  color: hsla(var(--white), 1);
}

header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1rem;
}

header .skip-to-main {
  position: absolute;
  top: -100px;
  width: 100%;
  background-color: hsla(var(--red), 1);
  text-align: center;
  font-size: large;
  font-weight: bold;
  color: hsla(var(--gold), 1);
  padding: 0.5rem 0;
}

header .skip-to-main:focus {
  top: 100%;
}



header .header__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}
