@import './styles/imports.css';
@import './styles/reset.css';

:root {
  /* 
  CSS HEX 

  --gold: #E2C044;
  --red: #b6402b;
  --indigo: #0b4f6cff;
  --cyan: #01baefff;
  --white: #fbfbffff;
  --black: #040f16ff; 
*/

  /* CSS HSL */
  --gold: 47, 73%, 58%;
  --red: 9, 62%, 44%;
  --indigo: 198, 82%, 23%;
  --cyan: 193, 99%, 47%;
  --white: 240, 100%, 99%;
  --black: 203, 69%, 5%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App main {
  flex: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a[target='_blank'] {
  position: relative;
}

a[target='_blank']::after {
  content: url('./assets/external_link.svg');
  margin-left: 0.5rem;
  vertical-align: middle;
  position: absolute;
  scale: 0.6;
  top: 0;
  right: -5px;
  transform: translate(50%, -50%);
  fill: hsla(var(--indigo), 0.8);
}
